* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x:hidden ;
}

body {
  font-family:'Kalam';
  line-height: 1;
  font-weight: 400;
  color: #212529;
  overflow-x: hidden;
}




.container {
  margin: 0 auto;
  padding: 0 2.4rem;
  max-width:120rem;
}


header {

  height: 100vh;
  position: relative;

  background-image: linear-gradient(90deg,
  #fccf3199,rgb(245, 85, 85,0.6)
    ),
    url(hero1.jpg);
  background-size: cover;
  color: #fff;
}

nav {
  font-size: 2.0rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 3.2rem;

}

.header-container {
 max-height: 100vh;
  text-align: left;
  position: absolute;

  /* In relation to PARENT size */
  left: 40%;
  top: 60%;

  /* In relation to ELEMENT size */
  transform: translate(-30%, -55%);

  /* background-color: violet; */

  /* text-align: center; */
}

.header-container-inner {
  width: 90%;
  /* background-color: blue; */
}

h1 {
  font-size: 6.8rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}

p {

  line-height: 1.6;
  /*margin-bottom: 4.8rem;*/
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.5s;
}

.btn:hover{
  background-color: #fff;
  color: #e67e22;
  border-radius: 9px;
}

.anch-btn
{
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.2rem;
  border-radius: 9px;
  padding: 8px 12px;
  transition: all 0.5s;
}

.anch-btn:hover{
  background-color: #fff;
  border-radius: 9px;
  color: #e67e22;
}

.btn-mobile-nav{
  border: none;
  background-color:rgba(255, 255, 255, 0.9);
  cursor: pointer;

  display: none;
}
h2 {
  font-size: 4.4rem;
  margin-bottom: 4.8rem;
}

section:nth-child(even) {
  padding: 9.6rem 0;

}

.header-content
{
  font-size: 2.2rem;
}

.logo
{
  font-size: 3.2rem;
}

.social-link
{
  width: 4rem;
  height:4rem;
}


.social-link 
{
  color: #495057;

}

.social-media-link
{
  display: flex;
  flex-direction: row;
  column-gap: 5.4rem;
  justify-content: left;
  padding: 3.2rem 0;
  margin-right: 5rem;
}

li
{
  list-style: none;
}

.about-section-content
{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 0.8rem 3.2rem;

  border: 2px solid #f55555;
}

.logo-container
{
  padding: 3.2rem 0;
}

.about-content
{
  align-self: center;
}

.lokesh-img
{
  box-shadow: 25px 20px 0px #fccf31;
  width: 75%;
  align-self: center;
}

.about-text
{
  font-size: 2.2rem;
  line-height: 1.8;
}



blockquote
{
  background-color: #fff9db;
  border-left: 8px solid #fccf31;
  margin: 1.5em 10px;
  padding: 3rem;
  quotes: '\201C''\201D''\2018''\2019';
}

blockquote:before{
  color: #fccf31;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 2rem;
  vertical-align: -0.4em;
}

.skill-logo
{
  color:#e67700;
  width: 9.2rem;
  height: 9.2rem;
  transition: all 0.3s ;
}

.skill-container-piece
{
background-color: #212529;
padding: 3.2rem;
border-radius: 1rem;
/*box-shadow: rgba(50,50,93,0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0) 0px 1px 3px -1px;*/
box-shadow: rgba(0, 0, 0, 0.25)0px 54px 55px, rgba(0, 0, 0, 0.12)0px -12px 30px, rgba(0,0,0,0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09)0px -3px 5px;
justify-self: center;
}
ul
{
display: inline-block;
}
.skill-container
{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
column-gap: 3.2rem;
padding: 6.4rem 3.2rem;
margin: 0 auto;
  padding: 0 2.4rem;
  max-width:120rem;
}
.skill-frame
{
background-color: rgba(245, 85, 85,0.6);
padding: 6.4rem 0;
}

.skill-logo:hover
{

transform: scale(1.3);

}

.project-img{
width: 100%;

}

.project-container{
display: grid;
grid-template-columns: 1fr 1fr;
row-gap: 6.8rem;
column-gap: 5.4rem;

}


.project-details
{
/*box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);*/
box-shadow: rgba(0,0,0,0.16)0px 3px 6px, rgba(0, 0, 0, 0.23)0px 3px 6px;
border-radius: 11px;
overflow: hidden;
transition: all 0.4s;
}
.project-content{
padding: 2.2rem 2.8rem 2.2rem 2.8rem;
font-size: 1.6rem;

}

.project-heading-text
{
margin-bottom: 1.8rem;
font-size: 2.4rem;
color: #f08c00;
}

.form-container
{
margin: 0 auto;
padding: 0 2.4rem;
max-width:80rem;
}

form{
padding: 3.2rem;
}

label{
font-size: 2.4rem;
color: #e67e22;
}

input
{
margin-top: 1.4rem;
margin-bottom: 2.4rem;
border: 3px solid #e67e22;
width: 100%;
height: 4rem;
font-size: 1.8rem;
padding: 0 1.2rem;
}

textarea
{
width: 100%;
margin-top: 1.4rem;

font-size: 2.0rem;
padding: 2.0rem 1.2rem;
margin-bottom: 2.4rem;
border: 3px solid #e67e22;
}

.Submit
{
width: 100%;
margin-top: 1.4rem;
margin-bottom: 2.4rem;
border: 3px solid #e67e22;
font-size: 2.4rem;
padding: 1.4rem 0;
font-size: 20px;
font-weight: 500;
background-color: #e67e22;
color: #fff;
text-decoration: none;
display: inline-block;
padding: 16px 32px;
border-radius: 9px;
}

.form-heading
{
text-align: center ;
}

.form-container-color
{
border-radius: 1.8rem;
box-shadow: rgba(14, 30, 37, 0.12)0px 2px 4px 0px, rgba(14, 30, 37, 0.32)0px 2px 16px 0px;
}

.btn1-anch
{
margin-top: 2.4rem;
}
.highlight{
color: #ffd43b;
}

.main-nav-link
{
display: flex;
column-gap:3.2rem ;
font-size: 2.4rem;
}

.main-nav-link a
{
color: white;
text-decoration: none;

}

.logo-container
{
background-color: linear-gradient(90deg,
  #fccf3199,rgb(245, 85, 85,0.6)
    );
}

.nav{
color: white;
width: 4.4rem;
height: 4.4rem;
}

.btns
{
display: flex;
flex-direction: row;
}

.main-link a{
color: white;
text-decoration: none;
font-size: 2.0rem;
}

.main-link{
display: flex;
gap: 2.4rem;
}

.logo{
align-self: end;
}

.form-container-color{
padding:3.2rem 4.4rem;
font-size: 2.8rem;
line-height: 1.5;
}

.email-link{
color: #e67700;
text-decoration: none;
}
.email-link:hover{
color: rgb(245, 85, 85);
text-decoration: underline;
}

.project-normal-text
{
  font-size: 1.8rem;
}


.logo-container{
  padding: 2.4rem 3.2rem;
}